/* from https://github.com/bradtraversy/webpack-starter/blob/main/src/styles/main.scss */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400&family=Outfit:wght@400;500;600;700;800;900&family=Patua+One&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda');
@import url('https://fonts.googleapis.com/css2?family=Belanosima');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  background: rgb(255, 180, 214);
  background: linear-gradient(
    90deg,
    rgba(255, 180, 214, 1) 0%,
    rgba(215, 149, 94, 1) 40%,
    rgba(242, 124, 178, 1) 100%
  );
  font-family: 'Outfit', sans-serif;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // horizontal
}

#app {
  width: 75%;
}

h1 {
  font-size: 4em;
  text-align: center;
}

/* RES DISPLAY + CARD STYLING */
.resDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding-top: 3em;
}

.resCard {
  text-align: center;
  flex-basis: 45%;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 2em;
  background: rgb(113, 223, 243);
  background: linear-gradient(
    90deg,
    rgba(113, 223, 243, 0.8491990546218487) 0%,
    rgba(120, 187, 206, 1) 50%,
    rgba(124, 184, 242, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  h1 {
    text-transform: uppercase;
    margin: 0;
    text-shadow: -1px 1px 2px #eaeaea, 1px 1px 2px #eaeaea, 1px -1px 0 #eaeaea,
      -1px -1px 0 #eaeaea;
    font-size: 2em;
  }

  h2 {
    text-transform: lowercase;
    margin-top: 0;
    font-family: 'Philosopher';
    font-size: 1.75em;
  }

  p {
    margin-bottom: 0;
  }
}

#nameLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

#restaurantName {
  font-family: 'Merienda';
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 2.5rem;
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.25rem;
  border-width: 0.1;
  border-color: gray;
}

.queryFormContainer {
  // background-image: url('https://www.flickr.com/photos/198870796@N04/53085172796/in/dateposted-public/');
  background-color: #d9afd9;
  box-shadow: 0.5rem 0.5rem 0.6rem 0.07rem #6a888b;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-width: 10rem;
  max-width: 40rem;
  min-height: 10rem;
  max-height: 15rem;
  margin: 0 auto;
  border: 1rem groove #d996df;
  padding: 10px;
  background-color: rgba(178, 235, 253, 0.58);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-evenly;
}

.dropDownLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.dropDown {
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.5rem;
  font-family: 'Merienda', sans-serif;
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 4rem;
  border-width: 0.1rem;
  cursor: pointer;

  color: black;
}

#nameLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

#restaurantName {
  font-family: 'Merienda';
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 2.5rem;
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.25rem;
  border-width: 0.1;
  border-color: gray;
}

.queryFormContainer {
  // background-image: url('https://www.flickr.com/photos/198870796@N04/53085172796/in/dateposted-public/');
  background-color: #d9afd9;
  box-shadow: 0.5rem 0.5rem 0.6rem 0.07rem #6a888b;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-width: 10rem;
  max-width: 40rem;
  min-height: 10rem;
  max-height: 15rem;
  border: 1rem groove #d996df;
  padding: 10px;
  background-color: rgba(178, 235, 253, 0.58);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-evenly;
}

.dropDownLabel {
  font-family: 'Belanosima';
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(138, 100, 141, 0.6);
}

.dropDown {
  box-shadow: 0.15rem 0.15rem 0.4rem 0.04rem rgba(87, 53, 0, 0.6);
  border-radius: 0.5rem;
  font-family: 'Merienda', sans-serif;
  background-color: blanchedalmond;
  min-height: 2rem;
  max-height: 4rem;
  border-width: 0.1rem;
  cursor: pointer;

  color: black;
}

/* Review Container Styling*/

.reviewContainer {
  border: dashed 2px rgba(30, 101, 123, 0.973);
  padding: 10px;
  font-weight: bold;
}

.serviceStars {
  cursor: 'pointer';
  transition: color 0.2s;
}

// .serviceStars:hover ,
.serviceStars.clicked {
  color: rgb(255, 200, 0);
}
